body {
  display: flex;
  width: 275px;
  height: 325px;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  border: black 2px solid;
  font: 1em sans-serif ;
  font-size: small;
}


div.form-container {
  display: flex;
  width:90%;
  justify-content: center;
}

div.form-group {
  margin-top: 15px;
  margin-bottom: 5px;
  width: 100%;
  
}

div.passowrd-group {
  margin-top: 15px;
  margin-bottom: 5px;
  position: relative;
  width: 100%;
}

.password-group input {
  width: 100%;
  padding-right: 40px; /* Space for the button */
  box-sizing: border-box;
}

.show-password-btn {
  position: absolute;
  top: 65%;
  right: -10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}


button.submit-btn {
    border: 2px solid black;
    background-color: black;
    border-radius: 10px;
    width: 90%;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
}

img {
    width: 100%;
    height: 100%;
}
input {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1.7px solid black;
  border-radius: 5px;
  padding: 2.5px;
  font: 1em sans-serif ;
  font-size: small;
  width: 100%;

}

label {
    display: block;
    margin-top: 2px;
    margin-bottom: 2px;
}
